name: API - Tests

on:
  push:
    branches: [main]
    tags:
      - 'v*.*.*'
    paths:
      - 'api/**'
      - 'sql/**'
      - './Dockerfile'
      - '.github/workflows/api-test.yml'
      - 'test/**'
  pull_request:
    branches: [main]
    paths:
      - 'api/**'
      - 'sql/**'
      - './Dockerfile'
      - '.github/workflows/api-test.yml'
      - 'test/**'

  workflow_dispatch:
jobs:
  UnitTests:
    name: unit-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: go tests
        working-directory: api
        run: go test ./...
  FunctionalTests:
    name: functional-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: postman tests
        run: docker compose -f docker-compose.yml up -d && sleep 30 && ./run_tests.sh
